<!doctype html>
<html>
<head>
  <title>Home</title>
  <link rel= 'stylesheet' href='/stylesheets/home.css' />
</head>
<body>
  <h2>Notifications</h2>

  <ul id="notifications"></ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.js"></script>
  <script>
  var socket = io();
  socket.on('message', function(doc){
    var list = document.getElementById('notifications');
    var node = document.createElement("li");   
    var textnode = document.createTextNode(doc.text);
    node.appendChild(textnode);         
    list.appendChild(node);                              
  });
  </script>
</body>
</html>