<!doctype html>
<html>
<head>
  <title>Home</title>
  <link rel= 'stylesheet' href='/stylesheets/home.css'/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
  <p id="uid" style="font-size: 1.5em; color: #0e0e0e;">Welcome, <%= user.username %> </p>
  <form class="location" action="/users/location" method="post">
    <input type="text" placeholder="Update your location" name="location"/>
    <button id="locationupdate" type="submit" value="location">Update</button>
  </form>
  <form class="partner" action="/users/partner" method="post">
    <input type="text" placeholder="Update your partner" name="partner"/>
    <button id="partnerupdate" type="submit" value="partner">Update</button>
  </form>
  <form class="logout-form" action="/logout" method="post">
        <button id="logout" type="submit" value="logout" style="background: #c20e2f;">Logout</button>
  </form>
  <form class="stalkrd" action="/users/stalk" method="get">
        <button id="stalk" type="submit" value="stalk">Stalk</button>
  </form>
  <p style="font-size: 1.5em; color: #0e0e0e;">Notifications</p>

  <ul id="notifications"></ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script>
    var user = <%- JSON.stringify(user) %> 

  var socket = io();
  socket.on('location', function(doc){
    console.log(doc);
    var lag = false 

    /*if(user.following.includes(obj))*/
    for(var j = 0; j < user.following.length; j++) {
      if(user.following[j].username == (doc.username) && user.following[j].field == ("location")) {
        lag = true;
        break;
      }
    }
    if(lag){
    var list = document.getElementById('notifications');
    var node = document.createElement("li");  
    var textnode = document.createTextNode(doc.username + " changed location to " + doc.data);
    node.appendChild(textnode);         
    list.appendChild(node);
    }
  });
  socket.on('partner', function(doc){
    var flag = false
    /*if( user.following.includes(obj) )*/
    for(var j = 0; j < user.following.length; j++) {
      if(user.following[j].username == (doc.username) && user.following[j].field == ("partner")) {
          flag = true;
          break;
      }
    }
    if(flag){
    var list = document.getElementById('notifications');
    var node = document.createElement("li");  
    var textnode = document.createTextNode(doc.username + " changed partner to " + doc.data);
    node.appendChild(textnode);         
    list.appendChild(node);
    }                             
  });
  </script>
</body>
</html>