<!doctype html>
<html>
<head>
  <title>Home</title>
  <link rel= 'stylesheet' href='/stylesheets/users.css' />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

  <p style="font-size: 1.5em;">Users</p>
  <p style="font-size: 1.2em;">Select the users and their details that you wish to stalk</p>
  <ul id="users"></ul>
<div class="container">
  <form class="logout-form" action="/logout" method="post">
        <button class="logout" type="submit" value="logout">Logout</button>
  </form>
  <div class="table-responsive">
    <table class="table">
      <tr>
         <th >Username</th>
         <th>Location</th>
         <th>Partner</th>
       </tr>
    <% for(var i=0; i < users.length; i++) { %>
       <tr>
         <td class="username"><%= users[i].username %></td>

         <td><button class="follow location" >
         <!-- Check following or not -->
        <% var found = false %>
        <% for(var j = 0; j < following.length; j++) { %>
            <% if (following[j].username == users[i].username) {%>
                <% found = true %>
                <% break; %>
            <% } %>
        <% } %>
         <% if(found){ %>
             Following
           <% } else{ %>  
             Follow
          <% } %>
         </button></td>

         <td><button class="follow partner" >
         <% if(found){ %>
           Following
         <% } else{ %>  
           Follow
        <% } %>
          </button><td>
       </tr>
    <% } %> <!-- For loop ends here -->
    </table>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script>
  var socket = io();
  socket.on('location', function(doc){
                                   
  });
  /*document.getElementByClassName("follow").addEventListener("click", function(){
    
  });*/

$('button.follow').on('click', function(e){
    e.preventDefault();
    $button = $(this);
    if($button.hasClass('following')){
        if($button.hasClass('location')){
          var field = "location";
        }
        else{
          field = "partner";
        }
        //username = $(this).closest('td').filter('.username').text();
        //console.log(username + field);
        //unfollow
        $.ajax({
          url: 'http://localhost:3000/users/stalk/unfollow',
          type: 'POST',
          data: { username : "avi", field: field},
          success: function(data) {
            alert("Successfully Unfollowed!");
            console.log('success');
            $button.removeClass('following');
            $button.text('Follow');
          },
          error: function () {
            alert("Something went wrong with unfollow Button.");
          }
        });
        
    } 
    else {
      if($button.hasClass('location')){
          var field = "location";
        }
        else{
          field = "partner";
        }
        //username = $(this).closest('td').filter('.username').text();
        //console.log(username + field);
        //follow
        $.ajax({
          url: 'http://localhost:3000/users/stalk/follow',
          type: 'POST',
          data: {username:"avi",field: field},
          success: function(data) {
            alert("Successfully Followed!");
            console.log('success');
            $button.addClass('following');
            $button.text('Following');
          },
          error: function () {
            alert("Something went wrong with Follow Button.");
          }
        });
        
        
    }
});
  //Write logic for changing Stalk/Unstalk text on buttons and getting it right the first time
  // by checking the following field of the user and matching the user and table on the field with it
  </script>
</body>
</html>