
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
table button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFF;
    width: 100px;
    border: 0;
    padding: 5px;
    color: #000;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.logout{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #c20e2f;
    width: 100px;
    border: 0;
    padding: 5px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}
#home{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#2980B9; 
    width: 100px;
    border: 0;
    margin-top: 5px;
    padding: 5px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}